<div class="col-md-6 col-sm-6 col-xs-12">
    <form class="form-horizontal form-label-left">
        <div class="form-group">
            <label class="control-label font-normal col-md-2 col-sm-2 col-xs-12">Giá bán: </label>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <input type="text" class="form-control col-md-12 col-sm-12 col-xs-12" placeholder="">
            </div>
            <label class="control-label font-normal col-md-2 col-sm-2 col-xs-12">Giá nhập: </label>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <input type="text" class="form-control col-md-12 col-sm-12 col-xs-12" placeholder="">
            </div>
        </div>
    </form>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel col-md-12 col-sm-12 col-xs-12">
        <div class="x_title">
            <h2>Thông tin nhập hàng<small></small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content ">
            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th class="column-title">Tên nhà cung cấp </th>
                                    <th class="column-title">Giá nhập </th>
                                    <th class="column-title">Mô tả </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="even pointer">
                                    <td>NCC A</td>
                                    <td>1,000,000</td>
                                    <td></td>
                                </tr>
                                <tr class="odd pointer">
                                    <td>NCC B</td>
                                    <td>2,000,000</td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>