<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel col-md-12 col-sm-12 col-xs-12">
        <div class="x_title">
            <h2>Danh sách hàng hóa <small></small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="btn btn-link filter-bar" data-toggle="collapse" data-target="#searh-bar"><i class="fa fa-2x fa-filter"></i> Tìm kiếm</a>
                </li>
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
            <div id="searh-bar" class="collapse col-md-12 col-sm-12 col-xs-12">
                <fieldset class="fieldset">
                    <legend>Thông tin tìm kiếm</legend>
                    <div class="row-fluid">
                        <form class="form-horizontal form-label-left">
                            <div class="form-group">
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <input type="text" placeholder="" class="form-control col-md-12 col-sm-12 col-xs-12">
                                </div>
                                <div class="col-md-4 col-sm-4 col-xs-12">
                                    <input type="text" placeholder="" class="form-control col-md-12 col-sm-12 col-xs-12">
                                </div>
                                <div class="col-md-4 col-sm-2 col-xs-12">
                                    <button id="btn_Search" type="button" class="btn btn-dark col-md-12 col-sm-12 col-xs-12">
                                        <i class="fa fa-search" aria-hidden="true"></i>@Common.Utilies.getResourceString("Search")
                                    </button>
                                </div>
                            </div>
                        </form>
                    </div>
                </fieldset>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="x_content ">

            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="table-responsive">
                        <table class="table table-striped jambo_table bulk_action">
                            <thead>
                                <tr class="headings">
                                    <th>
                                    </th>
                                    <th class="column-title">Tên sản phẩm </th>
                                    <th class="column-title">Loại </th>
                                    <th class="column-title">Mô tả </th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="even pointer">
                                    <td class="a-center ">
                                        <div class="checkbox checkbox-info">
                                            <input type="checkbox" class="checkbox-info" name="table_records">
                                            <label></label>
                                        </div>
                                    </td>
                                    <td>Sản phẩm 6</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                                <tr class="odd pointer">
                                    <td class="a-center ">
                                        <div class="checkbox checkbox-info">
                                            <input type="checkbox" class="checkbox-info " name="table_records">
                                            <label></label>
                                        </div>
                                    </td>
                                    <td>Sản phẩm 7</td>
                                    <td></td>
                                    <td></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                <input type="button" class="btn btn-primary col-md-4 col-sm-4 col-xs-12 col-md-offset-4 col-sm-offset-4" value="Thêm sản phẩm">
            </div>
        </div>
    </div>
</div>
<div class="col-md-6 col-sm-6 col-xs-12">
    <div class="x_panel col-md-12 col-sm-12 col-xs-12">
        <div class="x_title">
            <h2>Sản phẩm đã lắp ráp <small></small></h2>
            <ul class="nav navbar-right panel_toolbox">
                <li>
                    <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                </li>
            </ul>
            <div class="clearfix"></div>
        </div>
        <div class="x_content ">
            <div class="col-md-12 col-sm-12 col-xs-12 form-group">
                <div class="col-md-12 col-sm-12 col-xs-12">
                    <div class="table-responsive">
                        <table class="table">
                            <tbody>
                                <tr class="pointer no-background">
                                    <td class="a-center align-middle no-border">
                                        <img src="http://placehold.it/150x100" class="img-responsive">
                                    </td>
                                    <td class="no-border">
                                        <table class="table table-striped jambo_table bulk_action">
                                            <tbody>
                                                <tr class="pointer">
                                                    <td class="a-center ">
                                                        <img src="http://placehold.it/100x50" class="img-responsive">
                                                    </td>
                                                    <td> sản phẩm 1</td>
                                                </tr>
                                                <tr class="pointer">
                                                    <td class="a-center ">
                                                        <img src="http://placehold.it/100x50" class="img-responsive">
                                                    </td>
                                                    <td>sản phẩm 2</td>
                                                </tr>
                                                <tr class="pointer">
                                                    <td class="a-center ">
                                                        <img src="http://placehold.it/100x50" class="img-responsive">
                                                    </td>
                                                    <td> sản phẩm 3</td>
                                                </tr>
                                                <tr class="pointer">
                                                    <td class="a-center ">
                                                        <img src="http://placehold.it/100x50" class="img-responsive">
                                                    </td>
                                                    <td>sản phẩm 4</td>
                                                </tr>
                                                <tr class="pointer">
                                                    <td class="a-center ">
                                                        <img src="http://placehold.it/100x50" class="img-responsive">
                                                    </td>
                                                    <td>sản phẩm 5</td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>

                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
