Web/AppConfig/obj/
Web/Common/Common.Contract/obj/
Web/Common/Common.UnitTest/bin/
Web/Common/Common.UnitTest/obj/
Web/Common/Common/bin/
Web/Common/Common/obj/
Web/StockManger.Presentation/StockManager.Web.UI/node_modules/
Web/AppConfig/bin/
Web/Common/Common.Contract/bin/
Web/StockManager.Business/bin/
Web/StockManager.Business/obj/
Web/StockManager.Data/bin/
Web/StockManager.Data/obj/
Web/StockManager.Entity/obj/
Web/StockManager.Entity/bin/
Web/StockManger.Presentation/StockManager.Web.Framework/bin/
Web/StockManger.Presentation/StockManager.Web.Framework/obj/
Web/StockManger.Presentation/StockManager.Web/Bin/
Web/StockManger.Presentation/StockManager.Web/obj/
