.search-form {
    position: absolute;
    z-index: 999;
    top: 0px;
    left: 0px;
    width: 100%;
}

    .search-form .close-search {
        position: absolute;
        cursor: pointer;
        font-size: 30px;
        top: 16px;
        right: 18px;
    }

    .search-form .info-box {
        height: auto;
    }

        .search-form .info-box .content {
            padding: 15px 10px;
        }

            .search-form .info-box .content .form-group {
                margin-bottom: 0px;
            }

a.filter-bar {
    color: #03a9f4 !important;
    cursor: pointer;
}

    a.filter-bar:hover {
        color: #1ABB9C !important;
    }

    a.filter-bar > i {
        -webkit-transition: -webkit-transform .8s ease-in-out;
        transition: transform .8s ease-in-out;
    }

    a.filter-bar:hover > i {
        -webkit-transform: rotate(360deg);
        transform: rotate(360deg);
    }

/* ******************************************** Modal ****************************************** */
.modal .modal-body .mce-tinymce .mce-container-body {
    border-right: 1px solid rgba(185, 179, 179, 0);
}

.modal-body {
    padding: 0px;
}



.pagination > li > a, .pagination > li > span {
    border: 0;
    border-radius: 30px !important;
    transition: all .3s;
    padding: 0px 13px;
    margin: 0 3px;
    min-width: 30px;
    height: 30px;
    line-height: 30px;
    color: #999999;
    font-weight: 400;
    font-size: 12px;
    text-transform: uppercase;
    background: transparent;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background-color: #9c27b0;
    border-color: #9c27b0;
    color: #FFFFFF;
    box-shadow: 0 4px 5px 0 rgba(156, 39, 176, 0.14), 0 1px 10px 0 rgba(156, 39, 176, 0.12), 0 2px 4px -1px rgba(156, 39, 176, 0.2);
}
