<div class="col-md-3 col-sm-4 col-col-xs-12">
    <div class="sidebar sidebar-right">       
        <div class="widget widget-seller">
            <h2 class="widget-title title14">best sellers</h2>
            <div class="widget-content">
                <div class="wrap-item" data-pagination="false" data-navigation="true" data-itemscustom="[[0,1]]">
                    <div class="list-pro-seller">
                        <div class="item-pro-seller">
                            <div class="product-thumb">
                                <a href="#" class="product-thumb-link"><img src="images/photos/homeware/8.jpg" alt="" /></a>
                            </div>
                            <div class="product-info">
                                <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                                <div class="product-price">
                                    <ins><span>$360.00</span></ins>
                                    <del><span>$400.00</span></del>
                                </div>
                                <div class="product-rate">
                                    <div style="width:90%" class="product-rating"></div>
                                </div>
                            </div>
                        </div>
                        <div class="item-pro-seller">
                            <div class="product-thumb">
                                <a href="#" class="product-thumb-link"><img src="images/photos/homeware/2.jpg" alt="" /></a>
                            </div>
                            <div class="product-info">
                                <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                                <div class="product-price">
                                    <ins><span>$360.00</span></ins>
                                    <del><span>$400.00</span></del>
                                </div>
                                <div class="product-rate">
                                    <div style="width:90%" class="product-rating"></div>
                                </div>
                            </div>
                        </div>
                        <div class="item-pro-seller">
                            <div class="product-thumb">
                                <a href="#" class="product-thumb-link"><img src="images/photos/homeware/9.jpg" alt="" /></a>
                            </div>
                            <div class="product-info">
                                <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                                <div class="product-price">
                                    <ins><span>$360.00</span></ins>
                                    <del><span>$400.00</span></del>
                                </div>
                                <div class="product-rate">
                                    <div style="width:90%" class="product-rating"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="list-pro-seller">
                        <div class="item-pro-seller">
                            <div class="product-thumb">
                                <a href="#" class="product-thumb-link"><img src="images/photos/homeware/3.jpg" alt="" /></a>
                            </div>
                            <div class="product-info">
                                <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                                <div class="product-price">
                                    <ins><span>$360.00</span></ins>
                                    <del><span>$400.00</span></del>
                                </div>
                                <div class="product-rate">
                                    <div style="width:90%" class="product-rating"></div>
                                </div>
                            </div>
                        </div>
                        <div class="item-pro-seller">
                            <div class="product-thumb">
                                <a href="#" class="product-thumb-link"><img src="images/photos/homeware/4.jpg" alt="" /></a>
                            </div>
                            <div class="product-info">
                                <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                                <div class="product-price">
                                    <ins><span>$360.00</span></ins>
                                    <del><span>$400.00</span></del>
                                </div>
                                <div class="product-rate">
                                    <div style="width:90%" class="product-rating"></div>
                                </div>
                            </div>
                        </div>
                        <div class="item-pro-seller">
                            <div class="product-thumb">
                                <a href="#" class="product-thumb-link"><img src="images/photos/homeware/10.jpg" alt="" /></a>
                            </div>
                            <div class="product-info">
                                <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                                <div class="product-price">
                                    <ins><span>$360.00</span></ins>
                                    <del><span>$400.00</span></del>
                                </div>
                                <div class="product-rate">
                                    <div style="width:90%" class="product-rating"></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End widget -->
    </div>
</div>

