<div class="product-related border radius">
    <h2 class="title18">Sản phẩm đã xem</h2>
    <div class="product-related-slider">
        <div class="wrap-item" data-itemscustom="[[0,1],[480,2],[1024,3],[1200,4]]" data-pagination="false" data-navigation="true">
            <div class="item-pro-color">
                <div class="product-thumb">
                    <a href="detail.html" class="product-thumb-link">
                        <img data-color="black" class="active" src="images/photos/fashion/2.jpg" alt="">
                        <img data-color="purple" src="images/photos/fashion/1.jpg" alt="">
                        <img data-color="blue" src="images/photos/fashion/3.jpg" alt="">
                        <img data-color="cyan" src="images/photos/fashion/4.jpg" alt="">
                    </a>
                    <a href="quick-view.html" class="quickview-link plus fancybox.iframe"><span>quick view</span></a>
                </div>
                <div class="product-info">
                    <div class="list-color">
                        <a href="#" data-color="black" style="background:#404040"></a>
                        <a href="#" data-color="purple" style="background:#ff8ff8"></a>
                        <a href="#" data-color="blue" style="background:#868fff"></a>
                        <a href="#" data-color="cyan" style="background:#80e6ff"></a>
                    </div>
                    <h3 class="product-title"><a href="detail.html">new favorite</a></h3>
                    <div class="product-price">
                        <ins><span>$360.00</span></ins>
                        <del><span>$400.00</span></del>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- End Product Related -->
