@{
    Layout = "~/Views/Shared/Online/_Layout.cshtml";
    ViewBag.Title = "Trang chủ";
}
<div id="content">
    <div class="top-banner7">
        <div class="container">
            <div class="banner-slider banner-slider7">
                <div class="wrap-item" data-pagination="false" data-navigation="true" data-itemscustom="[[0,1]]">
                    <div class="item-banner7">
                        <div class="banner-thumb">
                            <a href="#"><img src="images/home7/slide1.jpg" alt="" /></a>
                        </div>
                        <div class="banner-info text-uppercase right-to-left time-delay1">
                            <h2 class="title60 color bottom-to-top time-delay2">DropShipping</h2>
                            <p class="bottom-to-top time-delay3">A Quick and Simple Way to Start Trading</p>
                            <div class="bottom-to-top time-delay4"><a href="#" class="btn-rect bg-color white radius ">Shop now</a></div>
                        </div>
                    </div>
                    <div class="item-banner7">
                        <div class="banner-thumb">
                            <a href="#"><img src="images/home7/slide2.jpg" alt="" /></a>
                        </div>
                        <div class="banner-info text-uppercase right-to-left time-delay1">
                            <h2 class="title60 color bottom-to-top time-delay2">Clearnce Sale</h2>
                            <p class="bottom-to-top time-delay3">Everything must go!</p>
                            <div class="bottom-to-top time-delay4"><a href="#" class="btn-rect bg-color white radius ">Shop now</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ENd Slider -->
            <div class="service-sale7">
                <div class="row">
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="big-sale7">
                            <label>Big sale <i class="fa fa-star" aria-hidden="true"></i></label>
                            <span>Gucci Upto 60% off on 20 items </span>
                        </div>
                    </div>
                    <div class="col-md-6 col-sm-12 col-xs-12">
                        <div class="service2 service7">
                            <ul class="list-none">
                                <li><a href="#"><img src="images/home2/icon1.png" alt="">Superfast delivery 2-4</a></li>
                                <li><a href="#"><img src="images/home2/icon2.png" alt="">Free shipping</a></li>
                                <li><a href="#"><img src="images/home2/icon3.png" alt="">Switch to pay in 40 days</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Service -->
        </div>
    </div>
    <!-- End Top Banner -->
    <div class="container">
        <div class="product-tab-ajax title-box6">
            <div class="tab-pro-ajax-header">
                <h2>Sản phẩm</h2>
            </div>
            <div class="sort-pagi-bar clearfix"></div>
            <div class="grid-pro-color">
                <div class="row">
                    <div class="clearfix"></div>
                    <div class="div-newest-items">
                        <div class="loader">
                            <div class="spinner">
                                <div class="bounce1 bg-pink"></div>
                                <div class="bounce2 bg-pink"></div>
                                <div class="bounce3 bg-pink"></div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Script/Online/Home")


