@{
    Layout = "~/Views/Shared/Online/_Layout.cshtml";
    ViewBag.Title = "Home";
}
<div id="content">
    <div class="top-banner7">
        <div class="container">
            <div class="banner-slider banner-slider7">
                <div class="wrap-item" data-pagination="false" data-navigation="true" data-itemscustom="[[0,1]]">
                    <div class="item-banner7">
                        <div class="banner-thumb">
                            <a href="#"><img src="~/Content/images/slides/leaf.jpg" alt="" /></a>
                        </div>
                        <div class="banner-info text-uppercase right-to-left time-delay1">
                            <h2 class="title60 color bottom-to-top time-delay2">DropShipping</h2>
                            <p class="bottom-to-top time-delay3">A Quick and Simple Way to Start Trading</p>
                            <div class="bottom-to-top time-delay4"><a href="#" class="btn-rect bg-color white radius ">Shop now</a></div>
                        </div>
                    </div>
                    <div class="item-banner7">
                        <div class="banner-thumb">
                            <a href="#"><img src="~/Content/images/slides/road.jpg" alt="" /></a>
                        </div>
                        <div class="banner-info text-uppercase right-to-left time-delay1">
                            <h2 class="title60 color bottom-to-top time-delay2">Clearnce Sale</h2>
                            <p class="bottom-to-top time-delay3">Everything must go!</p>
                            <div class="bottom-to-top time-delay4"><a href="#" class="btn-rect bg-color white radius ">Shop now</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- ENd Slider -->
            <section class="awe-section-2">
                <section class="section_service_first">                   
                        <div class="row">
                            <div class="wrap_srv">
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <div class="content_wrap">
                                        <div class="thumb">
                                            <i class="fa fa-3x fa-truck" aria-hidden="true"></i>
                                        </div>
                                        <div class="content clearfix">
                                            <p class="title_">GIAO HÀNG MIỄN PHÍ</p>
                                            <span class="descript">
                                                Tất cả sản phẩm đều được vận chuyển miễn phí
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <div class="content_wrap">
                                        <div class="thumb">
                                            <i class="fa fa-3x fa-usd" aria-hidden="true"></i>
                                        </div>
                                        <div class="content">
                                            <p class="title_">GIAO HÀNG NHẬN TIỀN</p>
                                            <span class="descript">Thanh toán đơn hàng bằng hình thức trực tiếp</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <div class="content_wrap">
                                        <div class="thumb">
                                            <i class="fa fa-3x fa-cc-visa" aria-hidden="true"></i>
                                        </div>
                                        <div class="content">
                                            <p class="title_">Chuyển khoản</p>
                                            <span class="descript">Thanh toán đơn hàng bằng hình thức chuyển khoản</span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-3 col-md-3 col-sm-12 col-xs-12">
                                    <div class="content_wrap">
                                        <div class="thumb">
                                            <i class="fa fa-3x fa-volume-control-phone" aria-hidden="true"></i>
                                        </div>
                                        <div class="content">
                                            <p class="title_">Hỗ trợ trực tuyến</p>
                                            <span class="descript">xx xxx xxx</span>
                                        </div>
                                    </div>
                                </div>
                                
                            </div>
                        </div>
             
                </section>
            </section>
            <!-- End Service -->
        </div>
    </div>
    <!-- End Top Banner -->
    <div class="container">
        <div class="product-tab-ajax title-box6">
            <div class="tab-pro-ajax-header">
                <h2>Sản phẩm mới</h2>
            </div>
            <div class="sort-pagi-bar clearfix"></div>
            <div class="grid-pro-color">
                <div class="row">
                    <div class="clearfix"></div>
                    <div class="div-newest-items">
                        <div class="loader">
                            <div class="spinner">
                                <div class="bounce1 bg-pink"></div>
                                <div class="bounce2 bg-pink"></div>
                                <div class="bounce3 bg-pink"></div>
                            </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@Scripts.Render("~/Script/Online/Home")


