<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- Meta, title, CSS, favicons, etc. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title </title>
    <link href="~/Content/jquery-ui.css" rel="stylesheet" />   
    <!-- jQuery -->
    <script src="~/Scripts/jquery-3.1.1.min.js"></script>
    <script src="~/Scripts/jquery-ui-1.12.1.min.js"></script>

    <!-- Bootstrap -->
    <link href="~/Content/Themes/Admin/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Content/build.css" rel="stylesheet" />
    <!-- Font Awesome -->
    <link href="~/Content/Themes/Admin/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <!-- Custom Theme Style -->
    <link href="~/Content/Themes/Admin/css/custom.css" rel="stylesheet">
    <link href="~/Content/Themes/Admin/css/customstyle.css" rel="stylesheet" />
    <link href="~/JSLip/jsgrid-1.5.2/jsgrid.min.css" rel="stylesheet" />
    <link href="~/JSLip/jsgrid-1.5.2/jsgrid-theme.min.css" rel="stylesheet" />
    <link href="~/JSLip/jquery.qtip/jquery.qtip.css" rel="stylesheet" />

    <!--JS-->
    <script src="~/Scripts/Common/Common.js"></script>
    <script src="~/Scripts/Common/FunctionEnum.js"></script>
</head>
<body class="nav-md">
    <div class="container body">
        <div class="main_container">
            @Html.Partial("~/Views/Shared/_LeftMenu.cshtml")
            @Html.Partial("~/Views/Shared/_TopMenu.cshtml")
            <!-- page content -->
            <div class="right_col" role="main">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12 div-main">
                        @RenderBody()
                    </div>
                </div>
                <br />
            </div>
            <!-- /page content -->
            <!-- footer content -->
            <footer>
                <div class="pull-right">
                    Gentelella - Bootstrap Admin Template by <a href="https://colorlib.com">Colorlib</a>
                </div>
                <div class="clearfix"></div>
            </footer>
            <!-- /footer content -->
        </div>
    </div>
    
    <!-- Bootstrap -->
    <script src="~/Scripts/bootstrap.min.js"></script>
    <!-- FastClick -->
    <script src="~/Content/Themes/Admin/fastclick/lib/fastclick.js"></script>
    <!-- bootstrap-daterangepicker -->
    <script src="~/Content/Themes/Admin/js/moment/moment.min.js"></script>
    <script src="~/Content/Themes/Admin/js/datepicker/daterangepicker.js"></script>
    <!-- Custom Theme Scripts -->
    <script src="~/Content/Themes/Admin/js/custom.min.js"></script>
    <script src="~/JSLip/jsgrid-1.5.2/jsgrid.min.js"></script>
    <script src="~/JSLip/jquery.qtip/jquery.qtip.js"></script>
    
</body>
</html>